<div class="col-sm-12">
  <div class="col-sm-12">
    <mat-card class="col-sm-12" style="margin-top: 25px;">
      <h4>Add Product Details<span class="button back-span" (click)="hideCreate()">Back</span></h4>
      <div class="col-sm-3">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Product Code">
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Product Name">
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Avaliable Quantity">
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Price">
        </mat-form-field>
      </div>
    </mat-card>

    <mat-card class="col-sm-12" style="margin-top: 25px;">
      <h4>Upload Product Image</h4>
      <!-- <div class="col-sm-3">
        <input type="file">
      </div> -->
      <div class="file-upload">
        <label id="#bb">
          <p><i class="fa fa-cloud-upload" style="font-size: 20px;"></i></p>
          <b> Uploaded files here</b>
          <input type="file" (change)="changeListener($event)" style="margin-top: 20px;" multiple>
        </label>
        <div style="height:5px;">
          <mat-progress-bar mode="indeterminate" *ngIf="isUploading"></mat-progress-bar>
        </div>
      </div>
    </mat-card>

    <mat-card class="col-sm-12" style="margin-top: 25px;">
      <div class="right-align">
        <button class="button-border" (click)="hideCreate()">Back</button>
        <button class="button">Add</button>
      </div>
    </mat-card>
  </div>
</div>