<div class="main">
    <!-- <div class="col-sm-12">
        <h3 style="margin-left: 15px;">Product category</h3>
    </div> -->


    <!-- <app-pagination-list></app-pagination-list> -->
    <app-data-table *ngIf="visibility.listVisible" source="product_category" (eventForCreate)="showCreate($event)" [dataList]="dataList" (editPage)="viewRow($event)" (deletePage)="deleteRow($event)"></app-data-table>

    <div *ngIf="visibility.createVisible">
        <div class="col-sm-12">
            <mat-card class="col-sm-12" style="margin-top: 25px;">

                <div class="col-sm-3">
                    <mat-form-field class="full-width">
                        <input id="matcode" autofocus matInput placeholder="Code" [(ngModel)]="category.code">
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Name" [(ngModel)]="category.name">
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <h4>Upload Product Category Image</h4>
                    <div class="file-upload" *ngIf="upload=='none' || upload == 'started'">
                        <label id="#bb">
                          <p><i class="fa fa-upload" style="font-size: 20px;"></i></p>
                          <b> Uploaded files here</b>
                          <input type="file" (change)="uploadImage($event)" style="margin-top: 20px;">
                        </label>
                        <img *ngIf="upload == 'started'" src="../../assets/image/spinner.gif">
                    </div>
                    <div class="image-preview" *ngIf="upload=='completed'">
                        <button (click)="removeImage()"><i class="fa fa-times"></i></button>
                        <img [src]="category.image">
                    </div>
                </div>
            </mat-card>
            <mat-card class="col-sm-12" style="margin-top: 25px;">
                <button *ngIf="category.id==0" class="button savecontinue" (click)="save(true)">Save & Continue</button>
                <div class="right-align">
                    <button class="button-border" (click)="hideCreate()">Back</button>
                    <button class="button" (click)="save(false)">Save</button>
                </div>
            </mat-card>
        </div>
    </div>


</div>