<div class="login-bg">
    <div class="login-box">
        <form class="example-form">
            <h3 class="login-txt">Hello! Welcome to Product Admin</h3>
            <mat-form-field class="full-width">
                <input matInput placeholder="User Name" type="text" [(ngModel)]="user.name">
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Password" type="password" [(ngModel)]="user.pass">
            </mat-form-field>

            <div class="right-align">
                <button class="button login-button" routerLink="/dashboard">Login</button>
            </div>
        </form>
    </div>
</div>