@import '../../../config.scss';
.custom-table {
    margin-top: 25px;
    background-color: $white-color;
}

.custom-table table {
    width: 100%;
}

.mat-form-field {
    width: 100%;
    margin-top: 15px;
}

.new-div {
    text-align: right;
    margin-top: 20px;
    position: absolute;
    right: -24px;
}

.curve-button {
    border-radius: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 12px 25px;
}

button.edit {
    border: none;
    background: #fff;
    margin: 2px;
    color: #3966bb;
    cursor: pointer;
}

.generic-button {
    float: left;
}

.generic-button button {
    border: none;
    margin: 4px;
    cursor: pointer;
    border-radius: 50%;
    height: 38px;
    width: 38px;
    outline: none;
    background: #fff;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

.generic-button button:hover {
    background: #eeeff2;
    border: 3px solid #ffffff;
}

.generic-button button i {
    color: $primary-color;
    font-size: 18px;
}

.generic-button button[disabled] {
    cursor: auto;
    outline: 0;
}

.generic-button button[disabled] i {
    color: #e2e2e2;
}

.generic-button input[type=file] {
    border: 1px solid;
    position: absolute;
    height: 50px;
    width: 38px;
    top: -7px;
    border-radius: 50%;
    margin-left: 50px;
    opacity: 0;
    cursor: pointer;
}